<% if @correct %>
<h1>That's right, it's a <span class="right"><%=@verify_plant['type']%></span>!</h1>
<% else %>
<h1>Noooeeeee!? It's actually a <span class="wrong"><%=@verify_plant['type']%></span>!</h1>
<% end %>
<span>The latin name for <%=@verify_plant['name']%> is <%=@verify_plant['latin']%>.</span>

<%= render partial: 'question' %>
