<% if @correct %>
<h1>That's right, it's a <span class="right"><%=@verify_plant['type']%></span>!</h1>
<% else %>
<h1>Noooeeeee!? It's actually a <span class="wrong"><%=@verify_plant['type']%></span>!</h1>
<% end %>
<span>The latin name for <%=@verify_plant['name']%> is <%=@verify_plant['latin']%>.</span>

<div id="correct-answers-container">
  <% if @total_correct == 0 %>
    <span>You've <%=@total%> plants but <span class="bad">no</span> right guesses!</span>
  <% else %>
    <span>This far it's been <%=@total_correct%> right answers (of <%=@total%>).</span>
  <% end %>
</div>

<%= render partial: 'question' %>

<%= render partial: 'about' %>
